@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    /* display: grid;
    grid-template-columns: min-content 1fr; */
    font-family: system-ui, sans-serif;
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }


  .mega{
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    position: relative;
    top:100vh;
  }

 @media (max-width:500px){
    body{
        grid-template-columns:0% auto;
    }
}
  section{
    opacity: 0;
  }
  header {
    grid-column: 1 / 3;
    color: white;
    padding: 4rem;
    text-align: center;
    font-size: 50px;
    height: 100vh;
    font-family: 'Darker Grotesque', sans-serif;
  }
  header h1{
    opacity: 0;
  }
  nav {
    white-space: nowrap;
    /* background: #37474F; */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  @media all and (min-height:300px) and (min-width:700px){
      nav{
        grid-column: 1 / 2;
      }
      main{
        grid-column: 2 / 3;
      }
      nav  {
        position: sticky; 
        top: 100vh; 
        height:100vh; 
        
      }
    } 
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: #ebe6e6;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }
  nav ul li a.current {
    color:#000;
  }
  @media (max-width:500px){
    nav{
        display: block;
        width:100%;
    }
    nav ul li {
       display:inline-table;
   } 
    nav ul li a{font-size: 4vw;}
    
  } 
 

 main{
   padding-top: 5px;
   padding-bottom:0px;
 }

  section{
   /* display:flex; */
    padding: 2rem;
    padding-left: 4rem;
    margin: 0 0 2rem 0;
    height:auto; 
    background-color: white;
    padding-top: 0 10px;
    position: relative;
    top:30px; 
  }
  section p{
    padding-top:5px;
    margin:0rem;
    font-size:18px;
    font-family: 'Roboto Mono', monospace;
   }

  @media (max-width:500px){
    main{
        padding-top:100px;
        padding-bottom: 0px;
        width:100%;
    }
    section{
      margin:0;
     }
     header h1{
       font-size: 60px;
     }
   }

  footer {
    grid-column: 1 / 3;
    background: #26272b;
    padding: 1.5rem 1rem;
    color:#fff;
    font-family: 'Rubik', sans-serif;
  }
  footer a{
    text-decoration: none;
    color:#d4d0e7;
  }
  footer a:hover{
    color:#3366cc;
    text-decoration:none;
  }
  footer .foot-text{
    padding-left:20px;
    padding-top:10px;
  }
 

  .part23{
    height:100vh;
    width: 100vw;
    position: absolute;
    /* background-color: #e86868; */
    display: block;
    z-index: 1000;
}


body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

@media (max-width:500px){
  main{
      padding-top:200px;
      padding-bottom: 50px;
      width:100%;
  }
  .mega{
   grid-template-columns:0% 100vw;
   min-width: 0;
   min-height: 0;
 }
 section{
   height: auto;
   padding:2rem;
 }
 #section-1{
   margin-top: -50px;
 }
  nav ul li{
    font-size: 2.5vw;
  }
  header h1{
    font-size: 50px;
  }
  .events_vm_1 ,.events_vm_2,.events_vm_3,.events_vm_4{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    top:5vh;
  }
 }

  /***section-template***/
 

.clubs {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  height:300px;
	width: 80vw;

}


.clubs h2 {
  opacity: 0.9;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family:'Rubik', sans-serif;
/*	text-transform: uppercase; */
}

.clubs h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight:bold;
  letter-spacing: 1px;
  margin: 5px 0;
}

.clubs-preview {
	color: #fff;
  width:30vw;
  overflow: hidden;
  object-fit: contain;
  object-position: center center;
}
.clubs-preview img{
  max-width: 100%;
}
.clubs-info {
  padding: 30px;
  padding-bottom:70px;
	position: relative;
	width: 100%;
}

.btn {	
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  margin-right:0px;
  margin-top:30px;
	position: absolute;
	bottom: 30px;
	right: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.img-container{
  width: 100vw;
  margin:0;
  padding: 0;
}
.resize{
  height:100vh;
  margin:0;
  padding: 0;
}

@media  (max-width:500px) {
  .clubs {
      margin:0 auto;
      padding: 0vw;
      display: block;
      width:80vw;
      height: auto;
  }
  .clubs-preview {
      position:relative;
      width:100%;
      height:60vw;
  }
  .clubs h1{
      font-size: 22px;
  }
  .clubs h2{
      font-size: 14px;
  }
  .clubs-info{
      padding:15px;
  }
  .btn{
      position: relative;
      font-size: 18px;
      transform: scale(0.8);
      float:right;
      margin-right:0px;
      margin-top:40px;
  }
  .img-container{
    width: 100vw;
    margin-top: 30vh;
  }
}

  
