@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Markazi+Text&family=Muli:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}
.mega{
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  position: relative;
  top:100vh;
}
@media (max-width:500px){
  .mega{
    grid-template-columns:0% 100vw;
    min-width: 0;
    min-height: 0;
  }
}
.part23{
  height:100vh;
  width: 100vw;
  position: absolute;
  /* background-color: #e67496; */
  /* display: none; */
  z-index: 2000;
}
header {
  grid-column: 1 / 3;
  /* background: #455A64; */
  color: white;
  padding: 4rem;
  text-align: center;
  font-size: 70px;
  height: 100vh;
  background-color: white;
  font-family: 'Darker Grotesque', sans-serif;
}
header h1{
  font-size: 70px;
  opacity: 0;

}
@media (max-width:500px){
  header h1{
  font-size: 50px;
  }
}
/* .logo img{
    margin-left: auto;
    margin-right: auto;
} */
nav {
  white-space: nowrap;
  /* background: #37474F; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo{
    height: 70%;
    width: 40%;
    float:right;
    padding-left: 2rem;
    margin-top: 100px;
}
/* Only stick if you can fit */
@media all and (min-height:300px) and (min-width:700px){
    nav{
      grid-column: 1 / 2;
    }
    main{
      grid-column: 2 / 3;
    }
    nav  {
      position: sticky; 
      top: 100vh; 
      height:100vh; 
      display:flex;
      flex-direction:column; 
      justify-content:center;
    }
  } 
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #ebe6e6;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

@media (max-width:500px){
  nav{
      display: block;
      width:100%;
  }
  nav ul li {
     display:inline-table;
 } 
  nav ul li a{font-size: 4vw;}
  .logo{
      padding-left: 0.5rem;
  }
  
}
.dropbtn{
    font-family: 'Darker Grotesque', sans-serif;
}
main{
 padding-bottom:100px;
}

section{
 /* display:flex; */
  padding: 1rem; 
 /* height:1000px; */ 
  background-color: white;
  padding-top: 0 10px; 
}
section p{
 padding:5px;
 margin:0rem;
 font-size:18px;
 font-family:  'Rubik', sans-serif;
 text-align: justify;
 text-justify: inter-word;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>thead>tr>td, .table>tbody>tr>td{
  padding-left: 10px;
  margin:10px;
  font-family:  'Rubik', sans-serif;
}
.panel-default{
  margin:100px 0;
}
.panel-heading{
  font-size: 20px;
}
section h1{
  font-size:32px;
  padding: 2px;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}
section h2{
 padding:15px 0;
 margin:10px;
 font-size:34px;
 font-family: 'Markazi Text', serif;
}
section h3{
 padding:10px 0;
 font-size:22px;
}
/*********About Us*********/
.aboutu {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
    margin: 20px;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    height:auto;
	width: auto;
}
.aboutu h2 {
    text-align: center;
}
.aboutu-info {
	padding: 30px;
	position: relative;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}
@media  (max-width:500px) {
  .aboutu {
      margin:2vw;
      padding: 0vw;
      display: block;
      width:100%;
      height: auto;
  }
  .aboutu-info{
      padding:15px;
  }

}
.galaxy-leaderboard{
  height:auto;
}
.section-performance{
    margin-bottom:0px;
}

.section-header{
  padding:50px 0 10px;
}
.section-team{
  width:100%;
}

@media (max-width:500px){
  main{
      padding-top:200px;
      padding-bottom: 50px;
      width:100%;
  }
  section{
      width:90%;
      margin: 1rem;
      margin-top:-70px;
  }
  section h2{
      font-size:30px;
  }
 }
.events_vm_1 ,.events_vm_2,.events_vm_3,.events_vm_4{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  position: relative;
  top:10vh;
}
footer {
  grid-column: 1 / 3;
  background: #26272b;
  padding: 1.5rem 1rem;
  color:#fff;
  font-family: 'Rubik', sans-serif;
}
footer a{
  text-decoration: none;
  color:#d4d0e7;
}
footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
footer .foot-text{
  padding-left:20px;
  padding-top:10px;
}

.contact h3{
 margin:0px;
 padding-top: 5px;
 margin-top:5px;
 font-family: 'Rubik', sans-serif;
 font-weight: bold;
}
.contact p{
  text-align: center;
  margin-top:0;
  padding-top: 0;
}

.galaxytable{
  font-size: 1.4rem;
}

@media(max-width:500px){
  .galaxytable{
    font-size: 6px;
  }
}

@media(max-width:350px){
  .galaxytable{
    font-size: 4px;
  }
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left:50%;
  margin-top:200px;
  width: 450px;
  height: 308px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a404d), to(#181c26));
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.leaderboard ol li .pic{
        position: absolute;
        top: 1.25rem;
        left: 5rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: #fff;
        background-size: cover;
        background-position: center;
        margin-right: 0.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
        z-index:2;
} 
.leaderboard h1 {
  font-size: 18px;
  font-weight: 600;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.leaderboard ol {
  counter-reset: leaderboard;
  list-style-type: none;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 16px;
  counter-increment: leaderboard;
  padding: 24px 12px 24px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: -0.25rem;
  left:4.5rem;
  width: 100%;
  height: 100%;
  padding: 24px 12px 24px 50px;
  margin: 0;
  background: none;
  color: #fff;
}
.leaderboard ol li mark::before, .leaderboard ol li mark::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: 0;
}
.leaderboard ol li mark::after {
  left: auto;
  /*right: -9px; */
  border-left: none;
  border-right: 10px solid transparent;
}
.leaderboard ol li small {
  position: relative;
  font-size: 16px;
  z-index: 2;
  display: block;
  text-align: right;
}
.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}
.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}
.leaderboard ol li:nth-child(1)::after {
  background: #fa6855;
}
.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}
.leaderboard ol li:nth-child(2)::after {
  background: #e0574f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.leaderboard ol li:nth-child(2) mark::before, .leaderboard ol li:nth-child(2) mark::after {
  border-top: 6px solid #ba4741;
  bottom: -7px;
}
.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}
.leaderboard ol li:nth-child(3)::after {
  background: #d7514d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.leaderboard ol li:nth-child(3) mark::before, .leaderboard ol li:nth-child(3) mark::after {
  border-top: 2px solid #b0433f;
  bottom: -3px;
}
.leaderboard ol li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard ol li:nth-child(4)::after {
  background: #cd4b4b;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.leaderboard ol li:nth-child(4) mark::before, .leaderboard ol li:nth-child(4) mark::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #a63d3d;
}
.leaderboard ol li:nth-child(5) {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5)::after {
  background: #c24448;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5) mark::before, .leaderboard ol li:nth-child(5) mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #993639;
}
.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}
.leaderboard ol li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1.06) scaleY(1.03);
          transform: scaleX(1.06) scaleY(1.03);
}
.leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.the-most {
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}
.img-container{
  width: 100vw;
  margin:0;
  padding: 0;
}
.resize{
  height:100vh;
  margin:0;
  padding: 0;
}
@media  (max-width:500px) {
    .leaderboard{
        width:80vw;
        margin-left:auto;
        padding-left:0;
    }
    .leaderboard ol li mark {
      width:50%;
    }
    .img-container{
      width: 100vw;
      margin-top: 30vh;
    }
}

.video-container{
  margin-top:0px;
  margin-bottom: 25px;
  margin: 0 auto;
  max-width: 1050px;
}