@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Volkhov:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: rgba(10, 110, 139, 0.75);
    --overlay-color: rgba(255, 255, 255 , 0.95);
    --menu-speed: 0.75s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
  
  
  /* MENU STYLES */
  .menu-wrap {
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: none;
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color: black;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    color: black;
    
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    padding-left: 0;
    margin-left: 0;
  }
  
  .menu-wrap .menu > div {
    /* background: #fff; */
    border-radius: 10%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
   /* justify-content: center;*/
    transform: scale(0);
    transition: all 0.4s ease;
    padding-left: 0;
    margin-left: 0;
  }
  
  .menu-wrap .menu > div > div {
    margin-top:-15vh;
    margin-left:10vw;
    text-align: left;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
 
  .menu-wrap .menu > div > div > ul  {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: start;
    list-style-type: none;
  }
  .menu-wrap .menu > div > div > ul > li {
    padding: 6px 0;
  }
  .menu-wrap .menu > div > div > ul > li>a{
    --fill-color: #000;
    position: relative;
    display: block;
    margin-left: 20px;
    padding: 4px 0;
    font: 600 2.25rem 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: -webkit-gradient( color-stop(0, var(--fill-color)));
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
    cursor:none
  }
  .menu-wrap .menu > div > div > ul > li>.navt1{
    background-size: 100%;

  }
    /*=====================*/

   .menu-wrap .menu > div .box-container{
    width:38vw;
    height:60vh;
    /* background:#7b2982; */
    position: relative;
    left:25vw;
    top:0;
    margin-left: -5vw;
   }


  
    /*=====================*/
    .menu-wrap .menu > div > .social-nav {
      margin-top:80vh;
      margin-left:-5vw;
      text-align: left;
      max-width: 90vw;
      max-height: 100vh;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    .social-nav {
      padding: 0;
      list-style: none;
      display: inline-block;
      margin: 10px auto;
    }
    .social-nav div {
      display: inline-block;
    }
    .social-nav a {
      display: inline-block;
      width: 48px;
      height: 48px;
      font-size: 20px;
      color: #FFF;
      text-decoration: none;
      cursor: none;
      text-align: center;
      line-height: 48px;
      background: #000;
      position: relative;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
    
    .model-1 div {
      margin: 0 8px;
    }
    .model-1 a {
      background: #000;
      -moz-transition: -moz-transform 1s, background 0.4s;
      -o-transition: -o-transform 1s, background 0.4s;
      -webkit-transition: -webkit-transform 1s, background 0.4s;
      transition: transform 1s, background 0.4s;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
    }
    .model-1 a:hover {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    .model-1 .facebook {
      color: #3B579D;
    }
    .model-1 .youtube {
      color: #DD4A3A;
    }
    .model-1 .instagram {
      color: #007BB6;
    }
  
  header h1{
    opacity: 0;
  }

body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }


@media screen and (max-width: 500px){
  .menu-wrap .menu > div > div > ul > li>a{
    font: 600 2rem Raleway, sans-serif;
    padding: 4px 50px 4px 0px;
  }
  .menu-wrap .menu > div > .social-nav {
    margin-top:60vh;
    margin-left:-87vw;
    text-align: center;
  }
}


.navimg{
  height: 100%;
  /* width: 70%; */
  position: absolute;
  /* top:5%; */
  left: 5%;
}

.navimg2,.navimg3,.navimg4,.navimg5,.navimg6{
  opacity: 0;
}

@media screen and (max-width:500px){
  .menu-wrap .menu > div .box-container{
    display: none;
  }
  .cursor{
    display: none;
  }
}

.menu{
  background: #fff;
}

body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 00vh;
  left: 0;
  /* mix-blend-mode: difference; */
  z-index: 1000;
}
body .cursor__ball--big  {
  stroke: rgb(0, 0, 0)
}
body .cursor__ball--small {
  stroke: black;
  top: -4px;
}
body{cursor:none}

.btn,.sid a i{
  cursor: none;
}
.sidenav2 a{
  cursor: none;
}


