@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.dropbtn {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(#FDA085,#F6D365);
    color: white;
    padding: 16px;
    font-size: 22px;
    text-transform: uppercase;
    border: none;
    width:90vw;
    margin:5vw;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index:1000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-image:linear-gradient(#FDA085,#F6D365);
    min-width: 160px;
    margin-left:5vw;
    margin-top:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    width:90vw;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:22px;
    text-transform: uppercase;
    color:white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-image:linear-gradient(#FDA085,#F6D365);}
  
  .show {display: block;}
  
  @media (min-width: 500px){
    .dropdown{
      display: none;
    }
  }

  @media (max-width: 500px){
    nav {
      display: none !important;
      width: 100%;
  }
  .dropdown-content ul{
      list-style-type: none;
  }
  
   }